.time{
    margin-top: 1rem;
  
}
.localTime{
    display: flex;
    align-items: center;
    
    
}
.localTime span{
    margin-left: .8rem;
}
.localDate{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
}
.localDate span{
    margin-left: .8rem;

}
.location{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
}
.location span{
    margin-left: .8rem;

}
