.sunDetails{
    width: 27%;
    height: 20vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1rem;
   
    position: absolute;
    top: 12%;
    left: 62%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    
    
}
.sunDataDetails{
  padding: 1rem;
  margin-top: 1rem;
}
.sunDataDetails h5{
    font-size: 1rem;

}
.sunrise{
    display: flex;
    align-items: center;
    margin-top: 3rem;

}
.dataSun {
    font-size: 1.4rem;
    margin-left: 1.2rem;
}
.dataSun h5{
    font-size: 1.5rem;
}
